{% extends 'menu.html' %}
{% load static %}
{% block styles %}
    <style>
        .table>tbody>tr>th{
            line-height: 60px;
        }
        .article{
            margin-top: 100px;
        }
    .article_block{
        width: 48%;
        float: left;
        margin: 1%;
        height: 158px;
        {#border: 1px solid gainsboro;#}
        box-shadow: 0 0 2px 2px gainsboro;
        overflow: hidden;
    }
    .article_desc{
        padding: 4% 2%;
    }
    .article_desc p{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        padding: 1% 0;
        color: grey;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="article">
        <h2 style="margin-left: 2%"> 文章列表</h2></br>
        <div class="container">
            {% for article in article_list %}
                <a href="/article_desc?id={{ article.id }}" class="article_block">
                    <div style="padding: 0" class="col-sm-6 col-md-6 col-lg-6">
                        <img src="../../static/picture/{{ article.image }}" width="100%" alt="">
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 article_desc">
                        <h4>{{ article.title }}</h4>
                        <p> 作者：{{ article.author }}</p>
                        <p> 发布时间：{{ article.issue_time }}</p>
                        <p> 浏览量：{{ article.visit }}</p>
                        <p> 内容 ：{{ article.text }}</p>
                    </div>

                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}

{% endblock %}