{% extends 'menu.html' %}
{% load static %}
{% block styles %}
    <style>
    .article-desc{
        margin-top: 100px;
    }
    h2{
        padding: 20px 0;
    }
    .article-desc p{
        text-indent: 2em;
        padding: 20px 0;
    }
    .article—msg span{
        margin-right:25px;
    }
    .article-desc img{
        padding: 2% 0;
    }
    .ping img{
        float: left;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .ping{
        color: black;
        padding: 10px 0;
        overflow: hidden;
    }
    .ping p:first-child{
        overflow: hidden;
        line-height: 35px;
    }
    .ping p:last-child{
        padding: 10px 0 0 45px;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="article-desc">
        <h2>{{ article.title }}</h2>
        <div class="article—msg">
            <span>作者：{{ article.author }}</span>
            <span>时间：{{ article.issue_time }}</span>
        </div>
        <p>
            {{ article.text }}
        </p>
        <img src="../../static/picture/{{ article.image }}" width="35%" alt="">
        <p>
            * {{ article.visit }} 人阅读过
        </p>
    </div>

    <div class="con">

        {% for d in data %}
            <div class="ping">
                <p>
                    <img src="{% static 'images/banner5.jpg' %}" alt="">
                    {{ d.user }} {{ d.issue_time }}
                </p>
                <p> {{ d.text }}</p>
            </div>
        {% endfor %}
        <div class="ping">
            {{ mess }}
        </div>

    </div>

    <form role="form" id="frm-Discuss">
        <input type="text" name="id" hidden value="{{ article.id }}">
        <div class="row">
            <div class="form-group col-lg-12">
                <textarea class="form-control" name="text" rows="6" placeholder="请留言.." required/></textarea>
            </div>
        </div>
    </form>
    <div class="form-group col-lg-12">
        <button type="submit" onclick="submitFrm()" class="btn-outline1">提交</button>
    </div>

    <script>
function submitFrm() {
    $.post('discuss',$('#frm-Discuss').serialize(), function (data) {
        if (data.code === 200){
            window.location.reload()
        } else {
            layer.msg('提价失败！')
        }
    })
}
</script>
{% endblock %}
{% block script %}

{% endblock %}