{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>我的个人网站</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
    <!-- css files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- /css files -->
    <!-- font files -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <script src="{% static 'js/jquery-3.2.0.js' %}"></script>
    <script src="{% static 'layer/layer.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>
    <!-- /font files -->
    <!-- js files -->
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <!-- /js files -->
<style>
    .liu{
        padding: 20px 0;
        color: white;
    }
    .liu p:first-child{
        overflow: hidden;
        height: 40px;
        line-height: 40px;
        font-size: 20px
    }
    .liu img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        float: left;
        margin-right: 10px
    }
    .liu p:last-child{
        padding: 10px 0 0 50px;
    }
</style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<div class="navbar-wrapper" style="position: fixed;top: -20px;height: 70px;background: #5a665c">
    <div class="container">
		<nav class="navbar navbar-inverse navbar-static-top cl-effect-20">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href=" ">人生旅途</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse navbar-right">
					<ul class="nav navbar-nav">
						<li><a href="#"><span data-hover="首页">首页</span></a></li>
						<li><a href="#article"><span data-hover="文章">文章</span></a></li>
						<li><a href="#video"><span data-hover="视频">视频</span></a></li>
						<li><a href="#events"><span data-hover="足迹">足迹</span></a></li>
						<li><a href="#gallery"><span data-hover="相册">相册</span></a></li>
						<li><a href="#time"><span data-hover="时光灯">时光灯</span></a></li>
						<li><a href="#message"><span data-hover="留言板">留言板</span></a></li>
					</ul>
				</div>
			</div>
        </nav>
    </div>
</div>
<!-- Banner Section -->
<!-- Carousel-->
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
			<img class="first-slide" src="{% static 'images/banner1.jpg' %}" alt="First slide">
        </div>
        <div class="item">
			<img class="second-slide" src="{% static 'images/banner2.jpg' %}" alt="Second slide">
        </div>
        <div class="item">
			<img class="third-slide" src="{% static 'images/banner3.jpg' %}" alt="Third slide">
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!-- /.carousel -->
</div>
<!-- /Banner Section -->
<!-- About Section -->
<section class="about-us" style="padding-bottom: 50px" id="article">
	<h3 class="text-center slideanim">置顶文章</h3>
	<p class="text-center slideanim">指尖跳动的文字撩动着你的心</p>
	<div class="container">
		<div style="overflow: hidden" class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<img src="{% static 'images/article-img.jpg' %}" alt="about" class="img-responsive slideanim">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="about-info">
					<h4 class="slideanim">{{ top_article.title }}</h4>
					<p class="abt slideanim" style="text-indent: 2em">
                        {{ top_article.text }}
                    </p>
				</div>
			</div>
		</div>

        <div class="row" style="margin-top: 50px" align="center">
            <p class="abt slideanim"><a style="text-decoration: none" href="/article">更多文章...</a></p>
        </div>
	</div>
</section>
<!-- /About Section -->
<!-- Services Section -->
<section class="our-services slideanim" id="video">
	<h3 class="text-center slideanim">视频</h3>
	<p class="text-center slideanim">记录我的尖峰时刻。</p>
	<div id="features">
		<div class="container">
			<div class="row" align="center">
{#                <video width="60%" controls>#}
{#                    <source src="{% static 'video/demo.MP4' %}" type="video/mp4">#}
{#                    您的浏览器不支持html播放。#}
{#                </video>#}
			</div>
		</div><!--/ .container -->
	</div><!--/ #features -->
</section>
<!-- /Services Section -->
<!-- Events -->
<section class="our-events slideanim" id="events">
	<h3 class="text-center slideanim">足迹</h3>
	<p class="text-center slideanim">我的梦想是全世界都能留下我的足迹。</p>
	<div class="container">
		<div class="row">
            {% for diary in diary_list %}
                <div class="col-lg-4 col-md-4">
                    <div class="event-info">
                        <h4 class="text-center slideanim">{{ diary.issue_time }}</h4>
                        <p class="eve slideanim">{{ diary.text }}</p>
                    </div>
                </div>
            {% endfor %}
		</div>
	</div>
</section>
<div class="tlinks"></div>
<!-- /Events -->
<!-- Gallery Section -->
<section class="our-gallery" id="gallery">
	<h3 class="text-center slideanim">相册</h3>
	<p class="text-center slideanim">记录生活，记录你的美</p>
	<div class="container">
        {% for img in photos %}
            <img src="../../static/picture/{{ img.image }}" data-darkbox="../../static/picture/{{ img.image }}"
                 data-darkbox-description="<b>Lorem Ipsum</b><br>Lorem ipsum dolor sit amet"
                 class="img-responsive slideanim">
        {% endfor %}
    </div>
    <br>
    <div align="center">
        <p class="abt slideanim">
            <a href="/picture">更多照片</a>
        </p>
    </div>
</section>

<!-- /Gallery Section -->
<!-- Testimonials -->
<section class="our-testimonials slideanim" id="time">
	<h3 class="text-center slideanim">时光灯，感受时间流逝..</h3>
	<p class="text-center slideanim">幻灯片，一种回忆时间的能力</p>
	<div class="container">
		<div class="row" align="center">
            <h2><a style="color: white;text-decoration: none" href="/impress">点我，时光穿梭入口</a></h2>
		</div>
	</div>
</section>
<!-- Testimonials -->

<!-- Contact Section -->
<section class="our-contacts slideanim" id="message">
	<h3 class="text-center slideanim">留言板</h3>
	<p class="text-center slideanim">我们用心记录下每一个瞬间，很久很久以后，这些都是可以用生命去回忆的。</p>
	<div class="container">
		<div class="row">
			<div class="col-lg-12" align="center">
				<form role="form" id="msgFrm">
					<div class="row">
						<div class="form-group col-lg-12 slideanim">
							<textarea class="form-control" name="text" rows="6" placeholder="请留言.." required/></textarea>
						</div>
					</div>
				</form>
                <div class="slideanim" style="margin: 20px 0">
                    <button type="submit" onclick="submitMsg()" class="btn-outline1">Submit</button>
                </div>
                <div class="slideanim" id="liu" style="display: none">
                    {% for m in msg %}
                        <div class="liu" align="left">
                            <p>
                                <img src="{% static 'images/banner5.jpg' %}" alt="">
                                {{ m.name }} <span style="margin-left: 10px; font-size: 15px"> {{ m.issue_time }}</span></p>
                            <p>{{ m.message }}</p>
                        </div>
                    {% endfor %}
                </div>

                <a style="color: white;text-decoration: none;font-size: 25px" href="javascript:moreliu()">更多留言</a>
                <script>
                    function moreliu() {
                        $("#liu").css({"display":"block"})
                    }
                </script>
			</div>	
		</div>
	</div>
</section>
<!-- /Contact Section -->

<!-- Footer Section -->
<section class="footer">
	<h2 class="text-center">我将会变的越来越好</h2>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-md-8 footer-left">
				<h4>我曾经</h4>
				<div class="contact-info">
					<div class="address">
                        跨过山和大海，也穿过人山人海。
					</div>
					<div class="phone">
                        我曾经拥有这一切，转眼间都飘散如烟。
					</div>
					<div class="email-info">
                        我曾经失落失望失掉所有一切，而如今才看见
					</div>
				</div>
			</div>
			<div class="col-md-4 footer-right" style="text-align: right">
				<h4>扫描二维码有彩蛋哦~</h4>
                <img src="{% static 'images/cd.png' %}" width="60%">
			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	<hr>
	<div class="copyright">
		<p>Copyright @2019 XiFeng  西安网备案 ICP证0256232号（能查到算我输）</p>
	</div>
</section>
<!-- /Footer Section -->
<!-- Back To Top -->
<a href="#0" class="cd-top">Top</a>
<!-- /Back To Top -->

<!-- js files -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
<!-- js for gallery -->
<script src="{% static 'js/darkbox.js' %}"></script>
<!-- /js for gallery -->
<!-- js for back to top -->
<script src="{% static 'js/main.js' %}"></script>
<!-- /js for back to top -->
<!-- js for nav-smooth scroll -->
<script>
$(document).ready(function(){
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
  var hash = this.hash;
  $('html, body').animate({
    scrollTop: $(hash).offset().top
  }, 900, function(){
    window.location.hash = hash;
    });
  });
})
</script>
<!-- /js for nav-smooth scroll -->
<!-- js for slide animations -->
<script>
$(window).scroll(function() {
  $(".slideanim").each(function(){
    var pos = $(this).offset().top;

    var winTop = $(window).scrollTop();
    if (pos < winTop + 600) {
      $(this).addClass("slide");
    }
  });
});

function submitMsg() {
    $.post("message", $("#msgFrm").serialize(), function (data) {
        if (data.code === 200) {
            layer.msg(data.mess)
        } else {
            layer.msg('提交失败')
        }
    })


}
</script>
<!-- /js for slide animations -->
<!-- /js files -->
</body>
</html>
