{% extends 'menu.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/baguetteBox.css' %}">
    <link rel="stylesheet" href="{% static 'css/baguestyle.css' %}">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="{% static 'js/baguetteBox.js' %}"></script>
    <style>
        .title{
            padding: 20px 5px;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="our-gallery" id="gallery">
        <div class="container">
            <h3 class="title slideanim">相册</h3>
              {% for d in data %}
                <img src="../../static/picture/{{ d.image }}" data-darkbox="../../static/picture/{{ d.image }}" data-darkbox-description="<b>Lorem Ipsum</b><br>Lorem ipsum dolor sit amet" class="img-responsive slideanim">
            {% endfor %}

        </div>
    </section>
{% endblock %}
{% block script %}
{% endblock %}